@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display');
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(https://tse3.mm.bing.net/th?id=OIP.E0P3hcvHo506EyQppakCzgHaE8&pid=Api&P=0&h=220);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #18265B;
  background-blend-mode: multiply;
  position:relative;
  z-index: -3;
}

_next{
  width: 100%;  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Sedgwick {
  font-family: Sedgwick Ave Display;
}

.large {
  margin-right: 20px;
  color: white!important;
  font-size: 35px;
}

.spread {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#user-menu {
  margin: 0;
  box-shadow: none;
  border: none;
}

.order-card {
  width: 20em;
  margin: 10px;
  border-radius: 0;
}

#home-buttons {
  display: flex;
  width: 200px;
  justify-content: center;
  flex-wrap: nowrap;
}

.home-btn {
  min-width: 200px;
}

.btn {
  margin: 10px;
  border-radius: 0;
}

#greeting {
  color: whitesmoke;
  font-family: Sedgwick Ave Display;
  font-size: 30px;
}

#order-container {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  background-color: #18265B!important;
  padding: 0;
}

h5 {
  font-family: Sedgwick Ave Display;
  font-size: 25px;
}

.order-item-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

.cust-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.order-item {
  padding: 8px;
  width: 100%;
  margin-bottom: 8px;
}

#del-item {
  background-color: white;
  border: white;
  padding: 0;
}

.bi-trash3-fill {
  color: black;
}

.bi-pencil-fill {
  color: black;
}

.edit {
  margin-bottom: 6px;
  margin-top: -8px;
}

.log-btn {
  min-width: 200px;
  border-radius: 4px;
  border-top: 6px solid #f5e4a2!important;
  border-right: 3px solid hsl(48, 75%, 71%)!important;
  border-bottom: 15px solid #edb130!important;
  border-left: 15px solid #cf9b2a!important;
  box-shadow: -6px 6px 2px 2px #664d17;
  align-self: center;
  margin: 50px;
}

.edit-btn {
  border-radius: 4px;
  border-top: 2px solid #f5e4a2!important;
  border-right: 1px solid #edd77f!important;;
  border-bottom: 5px solid #edb130!important;
  border-left: 5px solid #cf9b2a!important;
  box-shadow: -2px 2px 2px #9a7320;
}

.add-btn {
  background-color: #42EF02;
  color:white;
  font-weight: bold;
  border-radius: 4px;
  border-top: 2px solid #cdf6be!important;
  border-right: 1px solid #9df67d!important;;
  border-bottom: 5px solid #35be03!important;
  border-left: 5px solid #288f02!important;
  box-shadow: -2px 2px 2px #195702;
}

.del-btn {
  border-radius: 4px;
  border-top: 2px solid #f79ea0!important;
  border-right: 1px solid #f16f71!important;;
  border-bottom: 5px solid #e20206!important;
  border-left: 5px solid #c30205!important;
  box-shadow: -2px 2px 2px #7d0204;

}

p {
  margin-bottom: 1px;
}

#order-summ {
  color: white;
  background-color: #212529;
  max-width: 700px;
  padding: 12px;
  margin: 20px;
}

#search-bar {
  display: flex;
  width: 30%;
  align-items: center;
  margin-right: 100px;
}

.form-label {
  text-wrap: nowrap;
}

#search-row {
  background-color: #EDC630
}

#search-btn {
  padding: 0;
  margin: 4px 10px;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#order-form {
  margin: 20px;
  width: 700px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#order-form-btn {
  align-self: center;
}

.yellow {
  background-color: #EDC630;
  font-weight: bold;
  color: WHITE;
  border: none;
}

.red {
  background-color: #FE0004;
  border: none;
  color: white;
  font-weight: bold;
}

.blue {
  background-color: #18265B;
  font-weight: bold;
  color: white;
  border: none;
}

.green {
  background-color: #42EF02;
}

#rev-box {
  background-color: #18265B;
  margin: 30px;
  width: 50%;
  padding: 20px;
  color: white;
  font-family:Arial, Helvetica, sans-serif
  
}

span {
  color:#EDC630;
}

.button {

  touch-action: manipulation;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  height: 60px;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  text-wrap: nowrap;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  transition-property: transform;
  transition-duration: .2s;
  -webkit-user-select: none;
  user-select: none;
}

.button:active .button-top {
  transform: translateY(6px);
}

.button-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#EDC630, #f0ae35);
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: .2s;
}

.button:active .button-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.button-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #EDC630;
  background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
  transition-property: border-radius, padding-top;
  transition-duration: .2s;
}

.button:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(240, 243, 207, 0.649);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}

.title {
  font-family: Sedgwick Ave Display;
  margin: 20px;
  color: white;
  font-size: 40px;
}
